body {
    margin: 0%;
    background-color: #212529;
    height: 100vh;
    padding: 0%;
    display: contents;
    align-items: center;
    justify-content: center;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
}

.container {
    background-image: url("./assets/fondo_app.png");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    /* Animación al cargar */
    transition: background-image 0.5s ease-in-out;
    /* Transición en hover */
}

/* From Uiverse.io by gharsh11032000 */
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 15px;
    height: 42px;
    margin-left: 20%;
    align-self: center;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    overflow: hidden;

}

.button::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:hover::before {
    scale: 3;
}

.button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98, 0.4);
}

.button:active {
    scale: 1;
}

.container:hover {
    background-image: url("./assets/fondo_app_2.png");
}

@keyframes fadeIn {
    from {
        background-image: url("./assets/fondo_app.png");
        opacity: 0;
    }

    to {
        background-image: url("./assets/fondo_app.png");
        opacity: 1;
    }
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

* {
    margin: 0%;
}

header {
    display: flex;
    color: white;
    gap: 10px;
}

h1 {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    color: #001219;
    align-self: center;
    font-style: normal;
}

img {
    width: 85px;
    margin: 3%;
    height: 70px;
    align-self: center;
    border-radius: 10px;
}

h2 {
    font-family: "Fontdiner Swanky", serif;
    font-size: 28px;
    font-weight: bold;
    color: #001219;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

#message {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 1%;
    background-color: #caf0f8;
    border-radius: 7px;
    color: #001219;
    align-self: center;
    border: 3px solid white;
    align-self: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.head {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 13%;
}

.divSearch {
    display: flex;
    align-items: center;
    align-self: center;
    margin: 1%;
}

.search {
    height: 30px;
    width: 400px;
    background-color: #e0fbfc;
    border: 3px solid #9bb1ff;
    margin: 5px;
}

#btnConsult {
    height: 30px;
    width: 50px;
    border: 3px solid #9bb1ff;
    margin: 5px;
}

.logo {
    display: flex;
    width: 30%;
    height: 100px;
    gap: 20px;
}

/* From Uiverse.io by vinodjangid07 */
.InputContainer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
    width: 170px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 0.9em;
    caret-color: rgb(255, 81, 0);
}

.labelforsearch {
    padding: 0px 12px;
}

.searchIcon {
    width: 13px;
}

.border {
    height: 40%;
    width: 1.3px;
    background-color: rgb(223, 223, 223);
}

.micIcon {
    width: 12px;
}

h3 {
    font-family: "Fontdiner Swanky", serif;
    align-self: center;
}

/* From Uiverse.io by 0senno */
.glitch {
    position: relative;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
    animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.glitch:before {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #ff8b00;
    /* Updated color */
    z-index: -1;
}

.glitch:after {
    animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #57e500;
    /* Updated color */
    z-index: -2;
}

@keyframes glitch {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(-3px, -3px);
    }

    60% {
        transform: translate(3px, 3px);
    }

    80% {
        transform: translate(3px, -3px);
    }

    to {
        transform: translate(0);
    }
}

@keyframes shift {

    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(40deg) skewY(10deg);
    }

    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

.loader {
    position: relative;
    top: 144px;
}

.micButton {
    padding: 0px 15px 0px 12px;
    border: none;
    background-color: transparent;
    height: 40px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.searchIcon path {
    fill: rgb(114, 114, 114);
}

.micIcon path {
    fill: rgb(255, 81, 0);
}

.micButton:hover {
    background-color: rgb(255, 230, 230);
    transition-duration: 0.3s;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 4%;
    height: 100%;
    gap: 5px;
}

#Element {
    padding: 5px;
    width: 70px;
    border: 3px solid white;
    font-family: "Fontdiner Swanky", serif;
    border-radius: 5px;
    align-self: center;
}

#image {
    width: 200px;
    height: 190px;
    margin: 0%;
}

.backgroundImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 258px;
    border-radius: 2px;
}

#weakness {
    padding: 3px;
    margin: 1%;
    width: 70px;
    align-self: center;
    border: 3px solid;
    font-family: "Fontdiner Swanky", serif;
    border-radius: 5px;
}

.divWeaknesses {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#divWH {
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
    gap: 5px;
    align-items: center;
    margin: 0%;
    background-color: white;
    border: 3px solid yellow;
    padding: 10px;
    width: 230px;
}

#weight,
#height {
    margin: 0%;
    font-size: 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: black;
}

.pokemonImage {
    width: 320px;
    height: 450px;
    background-image: url(./assets/card_image.jfif);
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    border: 3px solid white;
    flex-direction: column;
    align-items: center;
}

.titleImage {
    font-family: "Fontdiner Swanky", serif;
    font-size: 30px;
    padding-top: 3px;
    font-weight: bold;
    color: #212529;
    margin-left: 6%;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.pokemonInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: 450px;
    background-color: #8d99ae;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid white;
    row-gap: 4px;
}

.titleLoader {
    color: white;
}

.containerLoader {
    display: flex;
    flex-direction: column;
}

.pokemonStatistics {
    display: flex;
    flex-direction: column;
    background-image: url(./assets/card_statistics.png);
    align-items: center;
    width: 320px;
    background-size: cover;
    background-position: center;
    height: 450px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid white;
    row-gap: 5px;
}

#Hp {
    margin-top: 17%;
}

.cardDiv {
    height: 100%;
    background: red;
}

.HpBar {
    background-color: white;
    height: 20px;
    border-radius: 10px;
    width: 90%;
}

/* From Uiverse.io by SmartegaAgency */
.loaderr {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #54f98d;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
}

.loaderr::after,
.loaderr::before {
    content: "";
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
}

.loaderr::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes coli1 {
    0% {
        transform: rotate(-45deg) translateX(0px);
        opacity: 0.7;
    }

    100% {
        transform: rotate(-45deg) translateX(-45px);
        opacity: 0;
    }
}

@keyframes coli2 {
    0% {
        transform: rotate(45deg) translateX(0px);
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) translateX(-45px);
        opacity: 0.7;
    }
}

#bar {
    width: 90%;
    background-color: #dc2f02;
    height: 20px;
    border-radius: 10px;
}

.statisticsParagraphs {
    color: #fff;
    /* blanco */
    text-shadow: 1px 1px 2px #6a040f;
    /* sombra oscura */
}

@media (max-width: 1240px) and (min-width: 1140px) {
    body {
        display: contents;
        height: 100vh;
    }
}



@media (max-width: 1140px) {
    main {
        flex-wrap: wrap;
        padding: 2%;
    }


    body {
        height: 100%;
    }

    .button{
        margin-left: 0%;
    }

    header {
        flex-direction: column;
    }

    .head {
        margin-left: 0%;
    }
}

@media (max-width: 360px) {
    .pokemonImage {
        background-position: center;
        background-repeat: no-repeat;
        min-width: 320px;
        box-sizing: border-box;
    }

    #imageLogo {
        border-radius: 50px;
        border: 3px solid #212529;
        height: 48px;
        width: 48px;
    }
}